.navbar{

  padding: 30px;
  background-color:rgb(233,224,222) ;
}
.search{
  display: flex;
  justify-content: center;
  padding: 8px;
}
.card{
  content: vertical;
  display: contents;
  justify-content: center;
  
}